<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>


  <div class="headerz">
    <center>
    <h1>Welcome!</h1>
      </center>
  </div>
  <center>
    <h3>Register Here </h3>
  <form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <input type="submit" value="Register">
  </form>

  <a href="login"><button>Already have an Account? Sign In</button></a>
</center>
</body>