<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>


  <div class="headerz">
    <center>
    <h1>Job Search Portal</h1>
      </center>
   </div>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <center>
      <h3>You have the following options available </h3>
  <a href="login"><button>Login</button></a>
  <a href="register"><button>Sign Up</button></a>
   </center>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <footer>
    <center>
    Developed using <b>Flask</b> by Abhinand G (2019115003)
      <br>
    <i>College of Engineering Guindy, Anna University</i>
    </center>
  </footer>
</body>

</html>